.Page {
  background-color: var(--background);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
}

.Page .HoverCategory {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  position: relative;
}

.HoverCategory .HoverTitle {
  font-size: 3rem;
  color: #0a0a0a;
  font-weight: 600;
  font-family: var(--font-audiowide);
}
.HoverCategory .HoverImage {
  width: 450px;
  height: 350px;
  object-fit: cover;
}
.HoverCategory .HoverHr {
  width: 30%;
  height: 1px;
  background-color: #cccccc83;
  margin: 20px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.Content {
  display: flex;
  flex-direction: column;
  padding-inline: 80px;
  gap: 20px;
}
.Content .Header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 20px;
}

.Header .Title {
  font-size: 2.5rem;
  color: #0a0a0a;
  font-weight: 600;
  font-family: var(--font-orbitron);
}

.Content .CategoryList {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  overflow: auto; /* Scroll aktif */
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  border-radius: 35px;
  /* border: 1px solid black; */
}

.Content .CategoryList::-webkit-scrollbar {
  display: none;
}

.Content .CategoryList .CategoryCard {
  width: 368px;
  /* min-width: 368px; */
  height: 218px;
  background: #ffffff;
  padding: 30px 28px;
  border-radius: 30px;
  animation: scale-i-o 2s ease-in-out;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Content .CategoryList .CategoryCard:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  scale: 1.01;
}

.CategoryCard .CardDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CategoryCard .CardDetail .CardDescription {
  font-size: 1rem;
  font-family: var(--font-audiowide);
  font-weight: 100;
  color: #a0a0a0;
}

.CategoryCard .CardDetail .CardTitle {
  font-size: 1.65rem;
  color: #0a0a0a;
  font-weight: 600;
  font-family: var(--font-orbitron);
}

.CategoryCard .CardImage {
  align-self: flex-end;
}
.CategoryCard .CardImage .Image {
  width: 125px;
  height: 100px;
  object-fit: cover;
}

@keyframes scale-i-o {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .Page {
    padding: 20px;
    height: 100%;
  }
  .HoverCategory .HoverImage {
    width: 150px;
    height: 150px;
  }
  .Content {
    padding-inline: 20px;
  }
  .Content .CategoryList {
    flex-direction: column;
    align-items: center;
  }
  .Content .CategoryList .CategoryCard {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
  }
}
